<html>
    
    
<style>
body {
  background-image: url('https://cdn.gadgets360.com/pricee/assets/store/flipkart-1200x800.png');
  background-repeat:no-repeat;
  background-attachmment:fixed;
  background-size: 100% 100%;;
}
</style>

<body>

        <center>

        <h1> Product category detector </h1><br>
        
        <form method="POST", action="{{url_for('predict')}}">
        <p>Enter Your Product Here</p><br><br/>
	<textarea name="message" rows="1" cols="30" placeholder="ex:Apple iPhone 6s Plus (Gold, 32 GB")></textarea><br><br/>
	
	   
	<br/>

		<input type="submit" class="btn-info" value="predict">
        </form>

        
        
    </center>

    </body>
</html>